.gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.print {
    transition: 200ms;
    box-sizing: border-box;
    width: 250px;
    text-align: center;
    margin: 10px;
    cursor: pointer;
}

.print:hover {
    transform: scale(1.05);
    font-weight: bold;
}

.print:hover img {
    box-shadow: 18px 20px 12px -12px #777;
}

.print img {
    background-color: #FFFFFF;
    transition: 200ms;
    width: 100%;
    padding: 25px 10px;
    box-shadow: 12px 10px 6px -6px #777;
}

.print p {
    padding: 20px;
}
