<div class="container login-container">
  <h1>Login</h1>
  <form method="POST">
  <div class="segment tall" style="border-bottom: none">
    <label>Email</label>
    <div class="input-container">
    <input type="email" class="input">
    </div>
  </div>
  <div class="segment tall" style="border-bottom: none">
    <label>Password</label>
    <div class="input-container">
    <input type="password" class="input">
    </div>
  </div>
  <div class="segment submit-segment tall">
    <input class="submit" type="submit" value="Submit">
  </div>
  </form>
</div>
