<!DOCTYPE html>
<html>
  <head>
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="css/site.css">
    <link rel="stylesheet" href="css/gallery.css">
    <script src="js/site.js"></script>
    <script src="js/gallery.js"></script>
  </head>
  <body>
    <div class="nav">
      <div class="menu">
        <a class="nav-link nav-link-grow-up" href="/">Home</a>
        <a class="nav-link nav-link-grow-up" href="/upload">Upload</a>
      </div>
    </div>
    <div class="gallery">
    </div>
  </body>
</html>
