.panel-default {
    margin: 4%;
    cursor: pointer;
}

.panel-default > .panel-heading {
    background-color: #FFF;
}

.panel-default > .panel-heading > .panel-title {
    overflow-x: hidden;
    word-wrap: break-word;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 1.25em;
    font-size: 1.5em;
}

.panel-body {
    position: relative;
    height: 25vw;
    overflow: hidden;
    background: transparent;
    border-radius: 0 0 4px 4px;
}

.panel-body > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}

.panel-body > .description {
    opacity: 0;
}

.panel-body > .description > p {
    overflow-y: hidden;
    line-height: 2em;
    font-weight: bold;
    font-size: 1.2em;
}

.panel-body > * {
    transition: 200ms opacity;
}

.panel-default:hover > .panel-body > img {
    opacity: 0.2;
}

.panel-default:hover > .panel-body > .description {
    opacity: 1;
}
