/*
    https://coolors.co/app/16bac5-5fbff9-efe9f4-171d1c-5863f8
    http://paletton.com/#uid=53X190knZY8cbZ-iBYStnWpGPSd
    #16BAC5
    #5FBFF9
    #EFE9F4
    #171D1C
    #5863F8

    #48FB3F - green
    #FA3FBD - purple
*/

body {
    font-family: 'Segoe UI Light', sans-serif;
}
