/*
    https://coolors.co/app/16bac5-5fbff9-efe9f4-171d1c-5863f8
    #16BAC5
    #5FBFF9
    #EFE9F4
    #171D1C
    #5863F8
*/

body {
    font-family: 'Segoe UI Light', sans-serif;
    background-color: #EFE9F4;
}
